**/ZB_DINO
**/nemo
**/rebuild_nemo.exe
**/restart_files

**/DINO_*_restart_*.nc
**/DINO_10d_grid_inst_*.nc
**/DINO_1m_grid_T_2D.nc
**/DINO_3m_grid_*.nc
**/debug.*
**/DINO_MK25.*
**/eophis*
**/nout.*
**/run.stat
**/run.stat.nc
**/time.step
**/timing.output
**/ocean.output
**/outputs_debug
